@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-green: #8CC63F;
	--color-gray: #969C9C;
	--color-gray-light: #CBCDCD;
	--color-gray-darkest: #3C3C3B;
	--color-gray-lightest: #F0F3F6;
	--color-gray-dark: #707070;
	--color-gray-lighter: #E5E5E5;
	--color-red: #CC1A40;
	--color-navy-darkest: #161C2A;
	--color-teal: #0095AF;
	--color-blue-lighter: #DAE1E5;
	--animate-marquee: marquee 15s linear infinite;

	--text-xxs: 0.625rem;

	@keyframes marquee {
		0% {
			transform: translateX(100vw);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
}
